button {
  display: block;
  width: 256px;
  height: 40px;
  margin: 0 auto 6px auto;
  font-size: 12px;
}
.mall-input {
  display: block;
  width: 256px;
  height: 40px;
  margin: 0 auto 6px auto;
  padding: 0 0 0 10px;
}
.board {
  background-color: #000000;
  margin: 10px;
}
#echo {
  color: #CFCFCF;
  box-sizing: border-box;
  padding: 10px;
  word-wrap: break-word;
  min-height: 100px;
  font-size: 14px;
}
