.swiper-container {
  width: 100%;
}

.swiper-slide img {
  display: inline-block;
  width: 100%;
  max-width: 100%;
}

.swiper-pagination-bullet-active {
  background: #FFFFFF !important;
}

.swiper-pagination-bullet {
  width: 4px;
  height: 4px;
}
