@charset 'utf-8';
.defaultNone {
  outline: none;
  border: none 0;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container {
  min-height: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  position: relative;
  left: 0;
  top: 0;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Microsoft Yahei';
  font-size: 0.42667rem;
  background-color: #fff;
  color: #666;
}
input,
button {
  outline: none;
  border: none 0;
}
button {
  background-color: none;
}
select {
  outline: none;
  border: none 0;
  -webkit-appearance: none;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
textarea {
  outline: none;
  border: none 0;
  resize: none;
}
option {
  text-align: center;
}
.error-tip {
  display: none;
}
.error-tip.active {
  display: block;
}
p {
  word-break: break-all;
}
.bold-tit {
  font-weight: bold;
}
.color-a {
  color: #0000ff;
}
.orange-color {
  color: #f90;
}
.num-font {
  font-family: 'Arial';
}
.num-color {
  font-family: 'Arial';
  font-size: 0.42667rem;
  color: #f90;
}
.border {
  position: relative;
  left: 0;
  top: 0;
}
.click-me {
  padding-top: 0.05333rem;
  padding-right: 0.10667rem;
  padding-bottom: 0.05333rem;
  padding-left: 0.10667rem;
  background-color: #039ef0;
  color: #fff;
  border-radius: 0.05333rem;
}
/* flex - start */
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
/* flex -  end  */
/* toast - start */
.toast {
  display: block;
  position: fixed;
  top: 51%;
  left: 50%;
  width: 8.53333rem;
  margin-left: -4.26667rem;
  color: #fff;
  border-radius: 0.13333rem;
  text-align: center;
  z-index: 20000;
}
.toast span {
  border-radius: 0.13333rem;
  background: rgba(0, 0, 0, 0.7);
  display: inline-block;
  max-width: 6.08rem;
  padding: 0.13333rem 0.26667rem;
  word-break: break-all;
}
/* toast -  end  */
.loading-box {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}
.loading-icon {
  width: 0.96rem;
  height: 0.96rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -0.48rem;
  margin-top: -0.48rem;
}
.info-box,
.goods-detail-box,
.active-box,
.order-box,
.pay-box,
.pay-order-detail-box,
.address-page-box,
.confirm-order-box,
.delivery-box,
.interlayer {
  min-height: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  position: relative;
  left: 0;
  top: 0;
}
.copyright-block {
  width: 100%;
  height: 3.46667rem;
  position: absolute;
  left: 0;
  bottom: 0;
}
.copyright-bar {
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  text-align: center;
  color: #9b9b9b;
  padding-top: 0.32rem;
  padding-right: 0.26667rem;
  padding-bottom: 1.33333rem;
  padding-left: 0.26667rem;
}
.copyright-bar-text.copyright-bar-tip span {
  color: #9b9b9b;
  background-color: transparent;
  display: block;
  width: 100%;
}
.copyright-bar-text.copyright-bar-tip,
.copyright-bar-text.copyright-bar-mail {
  font-size: 0.32rem;
  line-height: 0.53333rem;
}
.copyright-bar-text.copyright-bar-desc {
  font-size: 0.26667rem;
  line-height: 0.53333rem;
}
@media screen and (min-width: 414px) {
  .copyright-bar-text.copyright-bar-tip,
  .copyright-bar-text.copyright-bar-mail {
    font-size: 0.37333rem;
  }
}
.group-name {
  font-family: 'Arial';
}
.common-shadow {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  display: none;
}
.common-shadow.improve-zindex {
  z-index: 12;
}
.ui-not-found {
  width: 100%;
  min-height: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  position: relative;
  left: 0;
  top: 0;
  background-color: #f7f7f7;
}
.ui-not-found img {
  width: 100%;
}
.ui-confirm {
  width: 74.6%;
  text-align: center;
  border-radius: 0.10667rem;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -37.3%;
  transform: translate(0, -50%);
  -webkiy-transform: translate(0, -50%);
}
.ui-confirm .ui-confirm-tip {
  padding-top: 0.56rem;
  padding-right: 0.56rem;
  padding-bottom: 0.53333rem;
  padding-left: 0.56rem;
}
.ui-confirm .ui-confirm-tip p:nth-child(1) {
  font-size: 0.48rem;
}
.ui-confirm .ui-confirm-tip p:nth-child(2) {
  font-size: 0.37333rem;
  margin-top: 0.13333rem;
}
.ui-share img {
  width: 100%;
}
.ui-share .ui-close {
  display: block;
  width: 2.18667rem;
  height: 0.88rem;
  margin: 0 auto;
}
.ui-share .ui-close img {
  width: 100%;
}
img.express-empty {
  width: 100%;
}
.confirm-btn-box {
  font-size: 0;
}
.confirm-btn-box,
.confirm-sure-btn {
  border-top: 1px solid #dedee0;
}
.confirm-btn-box a {
  width: 50%;
  height: 1.12rem;
  font-size: 0.4rem;
  line-height: 1.12rem;
  display: inline-block;
}
.confirm-btn-box a:nth-child(1) {
  border-right: 1px solid #dedee0;
  color: #4d4d4d;
}
.confirm-btn-box a:nth-child(2) {
  color: #039ef0;
}
.ui-confirm .confirm-close {
  width: 1.06667rem;
  height: 1.06667rem;
  background: url('http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png') no-repeat -7.49333rem -2.77333rem;
  background-size: 8.32rem 7.46667rem;
  position: absolute;
  right: -0.53333rem;
  top: -0.53333rem;
}
.ui-confirm .confirm-sure-btn {
  text-align: center;
  height: 1.12rem;
  line-height: 1.12rem;
  color: #039ef0;
  display: block;
}
.ui-blank {
  min-height: 9.38667rem;
  padding: 2.26667rem 0 0 0;
}
.ui-blank .bg {
  background-image: url(http://cdn.rsscc.cn/guanggao/mall/common/bg-blank.png);
  background-size: contain;
  width: 4.70667rem;
  height: 3.46667rem;
  margin: 0 auto;
}
.ui-blank .txt {
  margin: 0.8rem 0 0 0;
  text-align: center;
  font-size: 0.4rem;
  color: #727272;
}
.ui-initial {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 4rem 0 0 0;
  z-index: 19999;
}
.ui-initial .bg {
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.33333rem;
  height: 1.33333rem;
  margin: 0 auto;
}
.ui-initial .bg.gt {
  background-image: url(http://cdn.rsscc.cn/guanggao/mall/common/i-loadloop.gif);
}
.ui-initial .bg.hb {
  background-image: url(http://cdn.rsscc.cn/guanggao/mall/common/i-loadloop.gif);
}
.ui-initial .txt {
  margin: 0.8rem 0 0 0;
  text-align: center;
  font-size: 0.34667rem;
  color: #333;
}
.home-info-show {
  line-height: 0.48rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: 0.10667rem;
  padding-bottom: 0.16rem;
}
.home-info-show .hmoe-goods-name {
  font-size: 0.32rem;
  color: #333;
  height: 0.48rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.home-goods-price {
  height: 0.4rem;
  line-height: 0.4rem;
  padding-left: 0.4rem;
  color: #bfbfbf;
}
.home-goods-price span {
  color: #ff5a44;
  position: relative;
  left: 0;
  top: 0;
}
.text-red {
  color: #ff5a44;
}
.border-color {
  border-color: #4889db;
}
.common-text {
  font-size: 0.37333rem;
  line-height: 0.53333rem;
}
.goods-charge-bar {
  width: 100%;
  height: 1.6rem;
  line-height: 1.6rem;
  background-color: #fff;
  font-size: 0.42667rem;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 6;
}
.goods-charge-bar:after {
  width: 100%;
  height: 1px;
  content: '';
  background-color: #dededf;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1, 0.5);
  transform-origin: 0 0;
}
.goods-charge-bar p {
  color: #ff5a44;
}
.goods-charge-bar p.goods-charge-info {
  color: #bfbfbf;
}
.goods-charge-bar p.goods-charge-info span {
  margin: 0 0 0 0.26667rem;
  color: #ff5a44;
}
.goods-charge-bar button {
  width: 3.68rem;
  height: 1.06667rem;
  line-height: 1.06667rem;
  background-color: #039ef0;
  color: #fff;
  border-radius: 0.10667rem;
  position: absolute;
  top: 50%;
  right: 0.26667rem;
  margin: -0.53333rem 0 0 0;
}
.goods-charge-bar button[disabled] {
  background-color: #d4d4d4;
}
.time-area {
  height: 100%;
}
.time-area {
  position: relative;
  left: 0;
  top: 0;
}
.scoring-bar {
  margin-left: 0.32rem;
}
.operate-btn,
.goods-charge-btn {
  text-align: center;
  padding-top: 0.26667rem;
  padding-right: 0.4rem;
  padding-bottom: 0.26667rem;
  padding-left: 0.4rem;
  font-size: 0.48rem;
  line-height: 0.48rem;
  border-radius: 0.08rem;
  margin-right: 0.53333rem;
  margin-top: 0.32rem;
  color: #fff;
}
.goods-charge-btn {
  margin-right: 0;
  margin-top: 0;
}
.operate-btn {
  position: absolute;
  right: 0;
  top: 0;
}
.allow-color {
  background-color: #4889db;
}
.forbidden-color {
  background-color: #ccc;
}
.scoring-num {
  font-family: 'Arial';
  font-size: 0.58667rem;
  color: #f90;
}
.flip-box,
.login-flip-box,
.del-tip-box {
  width: 80%;
  height: 4rem;
  text-align: center;
  background-color: #fff;
  border-radius: 0.10667rem;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -40%;
  margin-top: -2rem;
  z-index: 8;
  display: none;
}
.del-tip-box {
  display: block;
}
.login-flip-h {
  border-top-left-radius: 0.08rem;
  border-top-right-radius: 0.08rem;
  text-align: center;
  height: 0.96rem;
  line-height: 0.96rem;
  font-size: 0.48rem;
  color: #fff;
  background-color: #4889db;
}
.login-flip-text {
  padding-top: 0.4rem;
  padding-right: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 0.4rem;
}
.login-flip-text-no {
  text-align: center;
  padding-top: 0.66667rem;
  padding-right: 0.4rem;
  padding-bottom: 0.66667rem;
  padding-left: 0.4rem;
}
.login-btn-box {
  text-align: center;
}
.login-no,
.login-yes {
  min-width: 2.66667rem;
  padding-top: 0.13333rem;
  padding-right: 0.48rem;
  padding-bottom: 0.13333rem;
  padding-left: 0.48rem;
  color: #fff;
  margin-top: 0;
  margin-right: 0.21333rem;
  margin-bottom: 0;
  margin-left: 0.21333rem;
  border-radius: 0.05333rem;
}
.flip-info,
.del-info {
  margin-top: 0.8rem;
  padding-top: 0;
  padding-right: 0.26667rem;
  padding-bottom: 0;
  padding-left: 0.26667rem;
}
.del-info {
  margin-bottom: 0.8rem;
}
.flip-info-bar {
  height: 1.28rem;
  margin-bottom: 0.42667rem;
}
.exchange-button {
  min-width: 2.34667rem;
  display: inline-block;
  border-radius: 0.08rem;
  padding-top: 0.10667rem;
  padding-right: 0.32rem;
  padding-bottom: 0.10667rem;
  padding-left: 0.32rem;
  margin-top: 0;
  margin-right: 0.26667rem;
  margin-bottom: 0;
  margin-left: 0.26667rem;
  color: #fff;
}
.del-common-button {
  display: inline-block;
  margin-top: 0;
  margin-right: 0.26667rem;
  margin-bottom: 0;
  margin-left: 0.26667rem;
  color: #fff;
  padding-top: 0.10667rem;
  padding-right: 0.74667rem;
  padding-bottom: 0.10667rem;
  padding-left: 0.74667rem;
}
.flip-tip {
  font-size: 0.32rem;
  padding-top: 0;
  padding-right: 0.42667rem;
  padding-bottom: 0;
  padding-left: 0.42667rem;
}
.flip-go-check {
  margin-top: 0.4rem;
}
.common-charge-content {
  width: 100%;
  height: 1.6rem;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  opacity: 0.96;
}
.common-buy-box {
  width: 100%;
  position: absolute;
  bottom: 1.6rem;
  left: 0;
  background-color: #fff;
}
.common-buy-box .common-buy-nav {
  width: 100%;
  background-color: #f0f0f0;
  font-size: 0.4rem;
  padding-top: 0.4rem;
  padding-right: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 0.4rem;
  position: relative;
  left: 0;
  top: 0;
}
.common-buy-box .common-buy-nav .common-buy-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.46667rem;
  height: 100%;
}
.common-buy-box .common-buy-nav .common-buy-close-icon {
  width: 0.66667rem;
  height: 0.66667rem;
  background: url('http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png') no-repeat -4.24rem -5.28rem;
  background-size: 8.32rem 7.46667rem;
  position: absolute;
  right: 0.26667rem;
  top: 0.34667rem;
}
.common-buy-num {
  padding-top: 1.06667rem;
  padding-right: 0.4rem;
  padding-bottom: 1.06667rem;
  padding-left: 0.4rem;
}
.common-buy-num .common-buy-choice {
  font-size: 0.53333rem;
  height: 1.06667rem;
  position: relative;
  left: 0;
  top: 0;
}
.common-buy-num i {
  height: 1.06667rem;
  line-height: 1.06667rem;
  border-top: 1px solid #dededf;
  border-bottom: 1px solid #dededf;
}
.common-buy-num i:nth-child(1) {
  position: absolute;
  left: 0;
  top: 0;
  border-top-left-radius: 0.10667rem;
  border-bottom-left-radius: 0.10667rem;
  padding-top: 0;
  padding-right: 0.50667rem;
  padding-bottom: 0;
  padding-left: 0.50667rem;
  border-left: 1px solid #dededf;
}
.common-buy-num i:nth-child(1).unable {
  color: #a5a5a5;
}
.common-buy-num i:nth-child(3) {
  position: absolute;
  left: 2.50667rem;
  top: 0;
  border-top-right-radius: 0.10667rem;
  border-bottom-right-radius: 0.10667rem;
  padding-top: 0;
  padding-right: 0.50667rem;
  padding-bottom: 0;
  padding-left: 0.50667rem;
  border-right: 1px solid #dededf;
}
.common-buy-num i:nth-child(2) {
  position: absolute;
  left: 1.22667rem;
  top: 0;
  width: 1.28rem;
  border-left: 1px solid #dededf;
  border-right: 1px solid #dededf;
}
.common-buy-num i:nth-child(2) input[type=text],
.common-buy-num i:nth-child(2) input[type=number] {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
}
.common-buy-num .common-buy-tip {
  width: 100%;
  text-align: justify;
  font-size: 0.37333rem;
  color: #a5a5a5;
  margin-top: 0.24rem;
}
.common-buy-num .common-buy-tip span {
  display: inline-block;
}
@keyframes move {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.9);
  }
  40% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(0.9);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.more-loading-padding {
  padding-bottom: 1.6rem;
}
.more-loading {
  width: 100%;
  height: 1.6rem;
  line-height: 1.6rem;
  display: none;
  font-size: 0.32rem;
  color: #a5a5a5;
  background-color: #f3f3f3;
  position: fixed;
  left: 0;
  bottom: 0px;
}
.more-loading div {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}
.more-loading div img {
  width: 0.53333rem;
  vertical-align: middle;
  display: inline-block;
}
.more-loading div span {
  height: 100%;
  display: inline-block;
  margin-left: 0.34667rem;
}
.home-fixed-box {
  width: 1.17333rem;
  position: fixed;
  right: 0.26667rem;
  bottom: 0.26667rem;
  z-index: 10;
}
.home-fixed-box a.to-home {
  background: url('http://cdn.rsscc.cn/guanggao/img/icon/index-icon-0714.png') 0 -5.33333rem no-repeat;
  background-size: 10.66667rem 10.66667rem;
  margin-bottom: 0.26667rem;
}
.home-fixed-box a.to-top {
  background: url('http://cdn.rsscc.cn/guanggao/img/icon/index-icon-0714.png') 0 -6.61333rem no-repeat;
  background-size: 10.66667rem 10.66667rem;
  margin-bottom: 0.26667rem;
}
.home-fixed-box a.to-contact {
  background: url('http://cdn.rsscc.cn/guanggao/img/icon/index-icon-0714.png') 0 -7.89333rem no-repeat;
  background-size: 10.66667rem 10.66667rem;
}
.home-fixed-box a {
  width: 100%;
  height: 1.17333rem;
  display: block;
  border-radius: 50%;
}
.goods-tip-dot {
  position: absolute;
  right: 0.26667rem;
  top: 50%;
  margin-top: -0.05333rem;
  height: 0.10667rem;
  display: flex;
}
.goods-tip-dot b {
  width: 0.10667rem;
  height: 0.10667rem;
  border-radius: 50%;
  margin-left: 0.10667rem;
  background-color: #bcbcbc;
  display: block;
}
.common-switch-padding {
  padding-top: 1.2rem;
}
.common-switch-nav {
  height: 0.85333rem;
  line-height: 0.85333rem;
  position: relative;
  left: 0;
  top: 0;
  color: #cacaca;
  font-size: 0.32rem;
  background-color: #3d3c40;
}
.common-switch-nav .common-switch-bar:nth-child(1) {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.common-switch-nav .common-switch-bar:nth-child(1) .common-mall-index {
  color: #cacaca;
  padding-left: 0.96rem;
  padding-right: 0.26667rem;
  display: inline-block;
  height: 100%;
}
.common-switch-nav .common-switch-bar:nth-child(1) .common-switch-icon {
  width: 0.37333rem;
  height: 0.34667rem;
  background: url('http://cdn.rsscc.cn/guanggao/img/icon/index-icon-0714.png') no-repeat -10.34667rem -10.34667rem;
  background-size: 10.66667rem 10.66667rem;
  position: absolute;
  left: 0.4rem;
  top: 0.24rem;
}
.common-switch-nav .common-switch-bar:nth-child(2) {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.common-switch-nav .common-switch-bar:nth-child(2) .common-switch-button {
  color: #cacaca;
  padding-left: 0.13333rem;
  padding-right: 0.4rem;
  display: inline-block;
  height: 100%;
}
.common-switch-nav .common-switch-bar:nth-child(2) .common-switch-tip {
  display: inline-block;
}
.home-bottom-nav {
  width: 100%;
  height: 1.30667rem;
  background: rgba(30, 30, 30, 0.96);
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 6;
}
.home-bottom-nav .home-bottom-list {
  flex: 1;
  text-align: center;
  display: block;
  padding-top: 0.21333rem;
  font-size: 0.26667rem;
  color: #fff;
}
.home-bottom-nav .home-bottom-list.on .home-bottom-item {
  opacity: 1;
}
.home-bottom-nav .home-bottom-list.on .home-bottom-icon {
  opacity: 1;
  animation: 1s zoom ease-in;
}
.home-bottom-nav .home-bottom-list .home-bottom-item {
  opacity: 0.5;
}
.home-bottom-nav .home-bottom-list .home-bottom-icon {
  width: 0.48rem;
  height: 0.48rem;
  display: block;
  margin: 0 auto 0.10667rem;
  background: url('http://cdn.rsscc.cn/guanggao/img/icon/index-icon-1030.png') no-repeat;
  opacity: 0.5;
  background-size: 13.33333rem 13.33333rem;
}
.home-bottom-nav .home-bottom-list.index .home-bottom-icon {
  background-position: 1 0;
}
.home-bottom-nav .home-bottom-list.topic .home-bottom-icon {
  background-position: -2.24rem 0;
}
.home-bottom-nav .home-bottom-list.category .home-bottom-icon {
  background-position: -0.8rem 0.05333rem;
}
.home-bottom-nav .home-bottom-list.mine .home-bottom-icon {
  background-position: -1.57333rem 0;
}
.common-banner-pic {
  position: relative;
}
.common-banner-bar,
.common-banner-pic img {
  width: 100%;
}
.common-banner-pic {
  width: 10rem;
}
.common-banner-pic img {
  width: 100%;
  height: 5.62667rem;
}
.common-banner-bar {
  overflow: hidden;
  height: 5.62667rem;
  width: 10rem;
  position: relative;
  left: 0;
  top: 0;
}
.common-banner-bar .common-banner-indexs {
  font-size: 0;
  height: 0.10667rem;
  position: absolute;
  left: 50%;
  bottom: 0.21333rem;
  transform: translate3d(-50%, 0, 0);
  overflow: hidden;
}
.common-banner-bar .common-banner-indexs i {
  display: inline-block;
  width: 0.10667rem;
  height: 0.10667rem;
  opacity: 0.4;
  background-color: #f0f0f0;
  margin-right: 0.21333rem;
  background-clip: padding-box;
}
.common-banner-bar .common-banner-indexs i:last-child {
  margin-right: 0;
}
.common-banner-bar .common-banner-indexs i.active {
  background-color: #fff;
  opacity: 1;
  width: 0.26667rem;
}
.hidden {
  visibility: hidden;
}
.color-item {
  width: 1.06667rem;
  height: 0.74667rem;
  line-height: 0.74667rem;
  margin-top: 0.13333rem;
}
.color-items {
  flex: 1;
  font-size: 0.34667rem;
}
.color-items span {
  height: 0.74667rem;
  line-height: 0.74667rem;
  padding-left: 0.53333rem;
  padding-right: 0.53333rem;
  margin-right: 0.26667rem;
  margin-bottom: 0.13333rem;
  margin-top: 0.13333rem;
  background-color: #f5f5f5;
  color: #1e1e1e;
  display: inline-block;
}
.color-items span.on {
  background-color: #1e1e1e;
  color: #fff;
}
.color-items span.off {
  background-color: #fbfbfb;
  color: #ccc;
}
.num-item {
  width: 1.06667rem;
  height: 0.8rem;
  line-height: 0.8rem;
}
.num-items {
  flex: 1;
}
.num-items span {
  display: block;
  height: 0.8rem;
  position: relative;
  left: 0;
  top: 0;
  background-color: #f5f5f5;
}
.num-items span b {
  width: 0.32rem;
  height: 0.32rem;
  background: url('http://cdn.rsscc.cn/guanggao/img/icon/index-icon-1030.png') no-repeat -1.44rem -0.66667rem;
  background-size: 13.33333rem 13.33333rem;
  position: absolute;
  left: 0.37333rem;
  top: 0.26667rem;
}
.num-items span b.add-icon {
  background-position: -1.84rem -0.66667rem;
}
.num-items .reduce,
.num-items .add {
  width: 1.06667rem;
}
.num-items .reduce.off {
  background-color: #fbfbfb;
}
.num-items .reduce.off b.reduce-icon {
  background-position: -1.01333rem -0.66667rem;
}
.num-items .add.off {
  background-color: #fbfbfb;
}
.num-items .add.off b.add-icon {
  background-position: -2.26667rem -0.66667rem;
}
.num-items .num-insert {
  width: 0.93333rem;
  margin-left: 1px;
  margin-right: 1px;
}
.num-items .num-insert input {
  width: 100%;
  height: 100%;
  text-align: center;
  background: transparent;
}
.giving-footer {
  width: 100%;
  height: 3.2rem;
  background: url(http://cdn.rsscc.cn/guanggao/img/icon/giving-bg-1.png) no-repeat;
  background-size: 100% 3.2rem;
  position: absolute;
  left: 0;
  bottom: 0;
}
.focus-color {
  color: #f22549;
}
.red-color {
  background-color: #f22549;
}
.cafe-color {
  background-color: #b7926b;
}
.grey-color {
  color: #7f7f7f;
}
.coffe-color {
  color: #b7926b;
}
.sold-out-money,
.sold-out-point {
  width: 2.69333rem;
  height: 3.09333rem;
  background: url('http://cdn.rsscc.cn/guanggao/img/icon/index-icon-1030.png') no-repeat;
  background-size: 13.33333rem 13.33333rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.sold-out-money {
  background-position: -2.93333rem -6.66667rem;
}
.sold-out-point {
  background-position: 0 -6.66667rem;
}
.margin-space {
  margin-top: 0.26667rem;
}
.forbidden-scroll {
  overflow: hidden;
}
img.touch-img {
  transition: all .3s;
}
.touch img.touch-img {
  transform: scale(0.9);
}
.touch.touch-bg {
  background-color: #e6e6e6 !important;
}
.active-template-box a {
  display: block;
}
.active-template-box img {
  width: 100%;
}
.active-template-box .blank-line {
  height: 0.13333rem;
}
.active-template-box .pic-coupon-bar,
.active-template-box .pic-space-bar,
.active-template-box .text-desc-bar,
.active-template-box .text-title-bar,
.active-template-box .charge-bar,
.active-template-box .theme-row-list-son,
.active-template-box .theme-col-list-son {
  padding-left: 0.53333rem;
  padding-right: 0.53333rem;
}
.active-template-box .charge-bar a img {
  margin-bottom: 0.4rem;
}
.active-template-box .text-title-bar .item {
  color: #f62f5e;
  margin-right: 0.13333rem;
}
.active-template-box .text-title-bar .text-title-area {
  font-size: 0.45333rem;
  color: #1e1e1e;
  font-weight: bold;
  font-family: PingFangSC-Medium, sans-serif;
}
.active-template-box .text-desc-area {
  text-align: justify;
  line-height: 0.8rem;
  font-size: 0.42667rem;
  color: #555;
}
.active-template-box .charge-area {
  height: 0.90667rem;
  background-color: #fff;
  position: relative;
  left: 0;
  top: 0;
  font-family: "Arial";
  border-left: 0.05333rem solid #b4b4b4;
}
.active-template-box .charge-area .charge-contain {
  position: absolute;
  left: 0.26667rem;
  top: 50%;
  transform: translate(0, -50%);
}
.active-template-box .charge-area .now-price {
  color: #f62f5e;
  font-size: 0.48rem;
  line-height: 0.50667rem;
  font-weight: bold;
}
.active-template-box .charge-area .now-price span:first-child {
  font-size: 0.29333rem;
}
.active-template-box .charge-area .old-price {
  width: 2.66667rem;
  color: #b4b4b4;
  font-size: 0.29333rem;
  line-height: 0.32rem;
  margin-top: 1px;
  text-decoration: line-through;
}
.active-template-box .charge-area button {
  width: 2.74667rem;
  height: 0.90667rem;
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid #f62f5e;
  color: #f62f5e;
  font-size: 0.42667rem;
  background: transparent;
}
.active-template-box .theme-row-list-bar .theme-list-area {
  background-color: #fff;
  display: flex;
  padding-top: 0.26667rem;
  padding-right: 0.26667rem;
  padding-bottom: 0.26667rem;
  padding-left: 0.26667rem;
}
.active-template-box .theme-row-list-bar .theme-list-area .theme-pic-contain {
  width: 3.2rem;
  height: 3.2rem;
}
.active-template-box .theme-row-list-bar .theme-list-area .theme-pic-contain img {
  width: 3.2rem;
  height: 3.2rem;
}
.active-template-box .theme-row-list-bar .theme-list-area .theme-desc-contain {
  flex: 1;
  height: 3.2rem;
  padding-left: 0.26667rem;
  position: relative;
  left: 0;
  top: 0;
}
.active-template-box .theme-row-list-bar .theme-list-area .theme-desc-contain .name {
  color: #1e1e1e;
  font-size: 0.42667rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 0.69333rem;
  padding-top: 0.13333rem;
  padding-bottom: 0.13333rem;
}
.active-template-box .theme-row-list-bar .theme-list-area .theme-desc-contain .desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #7f7f7f;
  font-size: 0.32rem;
}
.active-template-box .theme-row-list-bar .theme-list-area .theme-desc-contain .charge {
  width: 100%;
  height: 0.8rem;
  position: absolute;
  left: 0.26667rem;
  bottom: 0;
}
.active-template-box .theme-row-list-bar .theme-list-area .theme-desc-contain .charge .charge-son {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  font-family: "Arial";
}
.active-template-box .theme-row-list-bar .theme-list-area .theme-desc-contain .charge .charge-son .now-price {
  color: #f62f5e;
  font-size: 0.42667rem;
  line-height: 0.45333rem;
  font-weight: bold;
}
.active-template-box .theme-row-list-bar .theme-list-area .theme-desc-contain .charge .charge-son .now-price span:first-child {
  font-size: 0.29333rem;
}
.active-template-box .theme-row-list-bar .theme-list-area .theme-desc-contain .charge .charge-son .old-price {
  color: #b4b4b4;
  font-size: 0.29333rem;
  margin-top: 1px;
  line-height: 0.32rem;
  text-decoration: line-through;
}
.active-template-box .theme-row-list-bar .theme-list-area .theme-desc-contain .charge button {
  position: absolute;
  right: 0.26667rem;
  top: 0;
  width: 2.16rem;
  height: 0.8rem;
  border: 1px solid #f62f5e;
  color: #f62f5e;
  font-size: 0.37333rem;
  background: transparent;
}
.active-template-box .theme-col-list-bar .theme-list-area:nth-child(odd) {
  margin-right: 0.24rem;
}
.active-template-box .theme-col-list-bar .theme-list-area {
  float: left;
  width: 4.34667rem;
  height: 6.4rem;
  background-color: #fff;
  margin-bottom: 0.26667rem;
}
.active-template-box .theme-col-list-bar .theme-list-area img {
  width: 4.34667rem;
  height: 4.34667rem;
}
.active-template-box .theme-col-list-bar .desc {
  text-align: center;
  padding-left: 0.26667rem;
  padding-right: 0.26667rem;
}
.active-template-box .theme-col-list-bar .desc .name {
  height: 0.90667rem;
  line-height: 0.90667rem;
  font-size: 0.37333rem;
  color: #1e1e1e;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.active-template-box .theme-col-list-bar .desc .price {
  font-size: 0.34667rem;
  color: #f62f5e;
  font-family: 'Arial';
}
.active-template-box .theme-col-list-bar .old-price {
  color: #b4b4b4;
  font-size: 0.29333rem;
  text-decoration: line-through;
  margin-left: 0.26667rem;
}
