body,html {
  height: 100%;
}
body {
  font-family: 'Microsoft Yahei';
  font-size: 14px;
  background: #FFF;
  color: #666;
}
input,
button {
  outline: none;
  border: none 0;
}
button {
  background: none;
}
img {
  display: block;
}
.error-tip {
  display: none;
}
.error-tip.active {
  display: block;
}
.color-a {
  color: blue;
}
/* 加粗 */
.bold-tit {
  font-weight: bold;
}
/* 橙色 */
.orange-color {
  color: #f90;
}
/* 数字和字母字体 */
.num-font {
  font-family: 'Arial';
}
/* 边框 */
.border { 
  position: relative; 
}
.border:after { 
  content: ''; 
  display:block; 
  position: absolute; 
  width: 100%; 
  left: 0px; 
  bottom: 0px;
  height: 1px; 
  background-color: #ccc; 
  -webkit-transform: scaleY(0.5); 
  transform: scaleY(0.5);
}
.border:before { 
  content: ''; 
  display:block; 
  position: absolute; 
  width: 100%; 
  left: 0px; 
  top: 0px;
  height: 1px; 
  background-color: #ccc; 
  -webkit-transform: scaleY(0.5); 
  transform: scaleY(0.5);
}
.border-l {
  border-image:url(http://cdn.rsscc.cn/guanggao/img/mall/icon/border-line2.png) 0 2 stretch;
  border-width: 0px 0px 0px 1px;
}
.border-r {
  border-image:url(http://cdn.rsscc.cn/guanggao/img/mall/icon/border-line2.png) 0 2 stretch;
  border-width: 0px 1px 0px 0px;
}
.border-t {
  border-image:url(http://cdn.rsscc.cn/guanggao/img/mall/icon/border-line2.png) 2 0 stretch;
  border-width: 1px 0px 0px 0px;
}
.border-b {
  border-image:url(http://cdn.rsscc.cn/guanggao/img/mall/icon/border-line2.png) 2 0 stretch;
  border-width: 0px 0px 1px 0px;
}

.home-page-box {
  max-width: 750px;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
}
.home-banner-bar,
.home-banner-pic,
.home-banner-pic img {
  width: 100%;
}
.home-nav {
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  background: #fff;
}
.home-nav .home-record-btn {
  height: 22px;
  line-height: 22px;
  padding: 0 10px;
  margin-top: 9px;
  border-radius: 10px;
  color: #fff;
  background: #4d9eeb;
}
.home-goods-bar {
  background: #f3f3f3;
  padding-bottom: 211px;
}
.home-show-area {
  padding-top: 3px;
}
.home-recommend,
.home-limit,
.home-hot {
  background: #fff;
  margin-top: 3px;
  box-sizing: border-box;
}
.home-big-bar {
  width: 44%;
  height: 187px;
  position: relative;
}
.home-small-bar {
  width: 55%;
  height: 92px;
}
.home-common-tit {
  height: 21px;
}
.home-common-tit-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.home-recommend .home-common-tit {
  color: #4d9eeb;
}
.home-recommend .home-value-common .home-value-p {
  background: #4d9eeb;
} 
.home-recommend .home-value-common .home-value-icon {
  border-left: 10px solid #4d9eeb;
} 
.home-hot .home-value-common .home-value-p {
  background: #ffbe46;
} 
.home-hot .home-value-common .home-value-icon {
  border-left: 10px solid #ffbe46;
} 
.home-limit .home-value-common .home-value-p {
  background: #ff6533;
} 
.home-limit .home-value-common .home-value-icon {
  border-left: 10px solid #ff6533;
} 
.home-recommend .home-common-tit-icon {
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -45px -87px;
  background-size: 312px 280px;
}
.home-hot .home-common-tit {
  color: #ffbe46;
}
.home-hot .home-common-tit-icon {
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -99px -85px;
  background-size: 312px 280px;
}
.home-limit .home-common-tit {
  color: #ff6533;
}
.home-limit .home-common-tit-icon {
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -71px -87px;
  background-size: 312px 280px;
}
.home-recommend a,
.home-hot a,
.home-limit a {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}
.home-big-pic-bar {
  position: absolute;
  left: 50%;
  bottom: 9px;
  margin-left: -60px;
}
.home-show-text-bar {
  width: 70%;
  padding-top: 4px;
  padding-left: 10px;
}
.home-show-pic-bar {
  width: 45%;
  position: absolute;
  right: 4%;
  bottom: 15px;
}
.home-small-goods-pic{
  width: 86px;
}
.home-goods-dt {
  margin: 10px 0;
}
.home-filed-box {
  width: 150px; 
  font-size: 16px;
  color: #999;
  margin: 0 auto; 
  text-align: center; 
  border-top: 1px solid #ccc;
}
.home-goods-area-son {
  width: 49.5%;
  height: 141px;
  margin-bottom: 3px;
  background: #fff;
  box-sizing: border-box;
}
.home-goods-area-son:nth-of-type(odd) {
  float: left;
  border-image:url(http://cdn.rsscc.cn/guanggao/img/mall/icon/border-line2.png) 0 2 stretch;
  border-width: 0px 1px 0px 0px;
}
.home-goods-area-son:nth-of-type(even) {
  float: right;
  border-image:url(http://cdn.rsscc.cn/guanggao/img/mall/icon/border-line2.png) 0 2 stretch;
  border-width: 0px 0px 0px 1px;
}
.home-text-bar {
  width: 100%;
  padding-top: 4px;
  padding-left: 10px;
  box-sizing: border-box;
}
.home-pic-detail {
  width: 95%;
  font-size: 12px;
  color: #999;
  line-height: 16px;
  margin-bottom: 3px;
}
.home-big-pic-detail {
  width: 95%;
  font-size: 12px;
  color: #999;
  line-height: 16px;
  margin: 4px 0 5px 0;
}
.home-small-pic-detail {
  width: 60%;
  font-size: 12px;
  color: #999;
  line-height: 16px;
  margin: 4px 0 5px 0;
  max-height: 32px;
  overflow: hidden;
}
.home-text-bar-p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.home-value-common {
  font-size: 12px;
  height: 16px;
  line-height: 16px;
  color: #fff;
}
.home-value-p {
  padding-left: 4px;
  padding-right: 8px;
  min-width: 24px;
  height: 16px;
}
.home-value-money .home-value-p {
  background: #4d9eeb;
}
.home-value-end .home-value-p {
  background: #ccc;
}
.home-value-point .home-value-p {
  background: #ffbe46;
}
.home-value-point-money .home-value-p {
  background: #ff6533;
}
.home-value-icon {
  border: 8px dashed transparent;
  border-left: 10px dashed transparent;
  position: relative;
}
.home-value-icon:after {
  display: block;
  content: '';
  position: absolute;
  left: -10px; 
  top: -2px;
  width: 3px;
  height: 3px;
  background: #fff;
  border-radius: 50%;
} 
.home-value-point-money .home-value-icon {
  border-left: 10px solid #ff6533;
}
.home-value-money .home-value-icon {
  border-left: 10px solid #4d9eeb;
}
.home-value-point .home-value-icon {
  border-left: 10px solid #ffbe46;
}
.home-value-end .home-value-icon {
  border-left: 10px solid #ccc;
}
.home-value {
  font-size: 10px;
}
.home-goods-pic {
  width: 100px;
  margin: 0 auto;
}
.home-big-goods-pic {
  width: 120px;
  margin: 0 auto;
}
.home-pic-bar {
  padding: 10px 0 6px;
  height: 64px;
}
.goods-copyright-fix {
  padding-bottom: 61px;
}
.copyright-block {
  width: 100%;
  height: 211px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.copyright-bar {
  background: #f3f3f3;
  width: 100%;
  height: 100%;
  line-height: 30px;
  text-align: center;
  color: #999;
  font-size: 10px;
  padding: 20px 0;
  box-sizing: border-box;
}
.filed-box {
  width: 200px; 
  font-size: 14px;
  margin: 0 auto; 
  text-align: center; 
  border-top: 1px solid #ccc;
}
.filed-text {
  width: 266px;
  margin: 5px auto; 
  padding: 5px 10px; 
  line-height: 22px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.group-name {
  font-family: 'Arial';
}
.state-icon {
  margin-left: 8px;
  margin-top: -3px;
  display:inline-block;
  vertical-align: middle;
}
.state-limit {
  width: 29px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -205px 0;
  background-size: 312px 280px;
}
.state-out {
  width: 29px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -244px 0;
  background-size: 312px 280px;
}
.state-prize {
  width: 29px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -283px 0;
  background-size: 312px 280px;
}
.state-grab {
  width: 29px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -166px 0;
  background-size: 312px 280px;
}
.new-user {
  width: 34px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat;
  background-size: 312px 280px;
}
.old-user {
  width: 34px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -44px 0;
  background-size: 312px 280px;
}
.month-card {
  width: 29px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -88px 0;
  background-size: 312px 280px;
}
.quarter-card {
  width: 29px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -127px 0;
  background-size: 312px 280px;
}
.user-v1 {
  width: 40px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat 0 -29px;
  background-size: 312px 280px;
}
.user-v2 {
  width: 40px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -50px -29px;
  background-size: 312px 280px;
}
.user-v3 {
  width: 40px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -100px -29px;
  background-size: 312px 280px;
}
.user-v4 {
  width: 40px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -150px -29px;
  background-size: 312px 280px;
}
.user-v5 {
  width: 40px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -200px -29px;
  background-size: 312px 280px;
}
.user-v6 {
  width: 40px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -250px -29px;
  background-size: 312px 280px;
}
.user-v7 {
  width: 40px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat 0 -58px;
  background-size: 312px 280px;
}
.user-v8 {
  width: 40px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -50px -58px;
  background-size: 312px 280px;
}
.allow-color {
  background: #4889db;
}
.forbidden-color {
  background: #ccc;
}
.common-shadow {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  display: none;
}
.flip-box, 
.login-flip-box {
  width: 80%;
  height: 150px;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -40%;
  margin-top: -75px;
}
.login-flip-h {
  font-size: 18px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-align: center;
  height: 36px;
  line-height: 36px;
  color: #fff;
  background: #4889db;
}
.login-flip-text {
  padding: 15px;
}
.login-flip-text-no {
  text-align: center;
  padding: 25px 15px;
}
.login-btn-box {
  text-align: center;
}
.login-no,
.login-yes {
  min-width: 100px;
  padding: 5px 18px;
  color: #fff;
  margin: 0 8px;
  border-radius: 2px;
}


/* widget - start */
.bb-panel {
  display: none;
}
.bb-panel.active {
  display: block;
}

.block {
  display: block;
  overflow: hidden;
}

.banner {
  position: relative;
  text-align: center;
  width: 100%;
  overflow: hidden;
  -webkit-box-shadow:0 -1px 1px -1px rgba(0, 0, 0, 0.5);
}
.banner img {
  width: 100%;
  max-width: 100%;
  vertical-align: top;
}
.banner-box {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.banner-pics {
  overflow: hidden;
  position: relative;
}
.banner-pics .banner-item {
  float:left;
  width:100%;
  position: relative;
}
.banner-indexs {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 8px;
  font-size: 0;
  overflow: hidden;
}
.banner-indexs i {
  display: inline-block;
  width: 4px;
  height: 4px;
  opacity: 0.2;
  background-color: #000000;
  background-clip: padding-box;
  border-radius: 2px;
  margin: 0 4px;
}
.banner-indexs i.active {
  background-color: #FFFFFF;
  opacity: 0.7;
}

.toast {
  display: block;
  z-index: 101;
  position: fixed;
  top: 51%;
  left: 50%;
  width: 320px;
  margin-left: -160px;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}
.toast span {
  border-radius: 5px;
  background: rgba(0, 0, 0, .7);
  display: inline-block;
  max-width: 228px;
  padding: 5px 10px;
  word-break: break-all;
}

@keyframes blinker {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
.animaion-blink {
  -webkit-animation: blinker .3s linear .2s 4;
          animation: blinker .3s linear .2s 4;
}

#cnzz_stat_icon_1255478836 {
  display: none;
}
/* widget - end */

/* pull to refresh - start */
#index-wrapper {
  width: 100%;
  height: 100%;
}

#pull-down {
  width: 170px;
  height: 60px;
  position: absolute;
  top: -60px;
  left: 50%;
  margin: 0 0 0 -85px;
  color: #B6B6CD;
  z-index: 999
}
#pull-down.loading {
  position: relative;
  top: 0;
}
#pull-down img {
  width: 40px;
  height: 40px;
  margin: 10px 0 0 0;
  float: left;
  display: inline-block;
  vertical-align: middle;
}
#pull-down .text-block {
  display: table-cell;
  color: #999999;
  text-indent: 10px;
}
#pull-down .text-block .line-one {
  height: 20px;
  line-height: 20px;
  margin: 14px 0 0 0;
  font-size: 14px;
}
#pull-down .text-block .line-two {
  height: 18px;
  line-height: 18px;
  font-size: 12px;
}
/* pull to refresh - end   */
