@charset 'utf-8';
.defaultNone {
  outline: none;
  border: none 0;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container {
  max-width: 750px;
  min-height: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  position: relative;
  left: 0;
  top: 0;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Microsoft Yahei';
  font-size: 16px;
  background-color: #ffffff;
  color: #666666;
}
input,
button {
  outline: none;
  border: none 0;
}
button {
  background-color: none;
}
select {
  outline: none;
  border: none 0;
  -webkit-appearance: none;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
textarea {
  outline: none;
  border: none 0;
  resize: none;
}
option {
  text-align: center;
}
.error-tip {
  display: none;
}
.error-tip.active {
  display: block;
}
p {
  word-break: break-all;
}
.bold-tit {
  font-weight: bold;
}
.color-a {
  color: #0000ff;
}
.orange-color {
  color: #ff9900;
}
.num-font {
  font-family: 'Arial';
}
.num-color {
  font-family: 'Arial';
  font-size: 16px;
  color: #ff9900;
}
.border {
  position: relative;
  left: 0;
  top: 0;
}
.loading-box {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}
.loading-icon {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -18px;
  margin-top: -18px;
}
.info-box,
.active-box,
.order-box,
.integral-box,
.integral-list-box,
.pay-box,
.pay-order-detail-box,
.address-page-box,
.delivery-box,
.interlayer {
  max-width: 750px;
  min-height: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  position: relative;
  left: 0;
  top: 0;
}
.goods-copyright-fix {
  margin-bottom: 60px;
}
.copyright-block {
  width: 100%;
  height: 114px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.copyright-bar {
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  text-align: center;
  color: #9b9b9b;
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 42px;
  padding-left: 10px;
}
.copyright-bar-text:nth-child(1) a {
  color: #9b9b9b;
  display: block;
  width: 100%;
}
.copyright-bar-text:nth-child(1),
.copyright-bar-text:nth-child(2) {
  font-size: 12px;
  line-height: 20px;
}
.copyright-bar-text:nth-child(3) {
  font-size: 10px;
  line-height: 20px;
}
@media screen and (min-width: 414px) {
  .copyright-bar-text:nth-child(1),
  .copyright-bar-text:nth-child(2) {
    font-size: 14px;
  }
}
.group-name {
  font-family: 'Arial';
}
.common-shadow {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  display: none;
}
.home-page-box {
  color: #333333;
  max-width: 750px;
  min-height: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  font-size: 14px;
  position: relative;
  left: 0;
  top: 0;
  background-color: #f3f3f3;
}
.home-banner-bar,
.home-banner-pic,
.home-banner-pic img {
  width: 100%;
}
.home-nav {
  height: 40px;
  line-height: 40px;
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
  background-color: #ffffff;
  border-top: 1px solid #f0f0f0;
}
.home-nav .home-record-btn {
  height: 22px;
  line-height: 22px;
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
  margin-top: 9px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #4d9eeb;
}
.home-goods-bar {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 114px;
  padding-left: 0;
  border-top: 1px solid #f0f0f0;
}
.home-goods-bar .num-color {
  font-size: 12px;
  color: #ffffff;
}
.home-goods-dt {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 14px;
  background-color: #ffffff;
  font-weight: bold;
  border-bottom: 1px solid #f0f0f0;
}
.home-goods-area {
  margin-top: 10px;
}
.home-goods-area-son {
  width: 50%;
  height: 150px;
  font-size: 12px;
  background-color: #ffffff;
  border-bottom: 1px solid #f0f0f0;
}
.home-goods-area-son:nth-of-type(odd) {
  border-right: 1px solid #f0f0f0;
}
.home-text-bar {
  width: 100%;
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 14px;
}
.home-pic-detail {
  width: 95%;
  color: #999999;
  line-height: 16px;
  margin-bottom: 3px;
}
.home-text-bar-p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.home-value-common {
  height: 16px;
  line-height: 16px;
  padding-left: 14px;
  color: #9b9b9b;
}
.home-value-common span {
  color: #ff5a44;
  padding-right: 5px;
  font-weight: bold;
}
.home-value-common em {
  color: #ff5a44;
  padding-top: 0;
  padding-right: 5px;
  padding-bottom: 0;
  padding-left: 5px;
}
.home-value-p {
  min-width: 24px;
  height: 16px;
  padding-top: 0;
  padding-right: 8px;
  padding-bottom: 0;
  padding-left: 4px;
}
.home-value {
  font-size: 12px;
}
.home-goods-pic {
  width: 100px;
  height: 64px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}
.home-big-goods-pic {
  width: 120px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}
.home-pic-bar {
  width: 100%;
  height: 76px;
  padding-top: 6px;
  padding-right: 0;
  padding-bottom: 6px;
  padding-left: 0;
}
.home-fixed-box {
  width: 45px;
  height: 100px;
  position: fixed;
  right: 10px;
  bottom: 10px;
}
.home-fixed-box a {
  width: 100%;
  height: 45px;
  display: block;
  border-radius: 50%;
}
.home-fixed-box a:nth-child(1) {
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -20px -205px;
  background-size: 312px 280px;
  margin-bottom: 10px;
}
.home-fixed-box a:nth-child(2) {
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -70px -205px;
  background-size: 312px 280px;
}
@media screen and (min-width: 414px) {
  .home-goods-area-son {
    height: 165.6px;
    font-size: 14px;
  }
  .home-pic-detail {
    margin-top: 3px;
    margin-right: auto;
    margin-bottom: 3px;
    margin-left: auto;
  }
  .home-pic-bar {
    height: 86.6px;
    padding-top: 11.3px;
    padding-right: 0;
    padding-bottom: 11.3px;
    padding-left: 0;
  }
  .home-value-common {
    height: 18px;
    line-height: 18px;
  }
}
.state-icon {
  margin-left: 8px;
  margin-top: -3px;
  display: inline-block;
  vertical-align: middle;
}
.state-limit {
  width: 29px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -205px 0;
  background-size: 312px 280px;
}
.state-out {
  width: 29px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -244px 0;
  background-size: 312px 280px;
}
.state-prize {
  width: 29px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -283px 0;
  background-size: 312px 280px;
}
.state-grab {
  width: 29px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -166px 0;
  background-size: 312px 280px;
}
.state-channel {
  width: 29px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -100px -58px;
  background-size: 312px 280px;
}
.new-user {
  width: 34px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat;
  background-size: 312px 280px;
}
.old-user {
  width: 34px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -44px 0;
  background-size: 312px 280px;
}
.month-card {
  width: 29px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -88px 0;
  background-size: 312px 280px;
}
.quarter-card {
  width: 29px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -127px 0;
  background-size: 312px 280px;
}
.user-v1 {
  width: 40px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat 0 -29px;
  background-size: 312px 280px;
}
.self-business {
  width: 40px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -139px -58px;
  background-size: 312px 280px;
}
.to-promote {
  width: 29px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -189px -58px;
  background-size: 312px 280px;
}
.user-v2 {
  width: 40px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -50px -29px;
  background-size: 312px 280px;
}
.user-v3 {
  width: 40px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -100px -29px;
  background-size: 312px 280px;
}
.user-v4 {
  width: 40px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -150px -29px;
  background-size: 312px 280px;
}
.user-v5 {
  width: 40px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -200px -29px;
  background-size: 312px 280px;
}
.user-v6 {
  width: 40px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -250px -29px;
  background-size: 312px 280px;
}
.user-v7 {
  width: 40px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat 0 -58px;
  background-size: 312px 280px;
}
.user-v8 {
  width: 40px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -50px -58px;
  background-size: 312px 280px;
}
.mall-statement-box {
  max-width: 750px;
  margin: 0 auto;
}
.mall-statement-box {
  color: #333333;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.mall-statement-box .common-text {
  line-height: 26px;
}
.active-box .active-detail-tit {
  font-size: 16px;
}
.active-box .common-text {
  font-size: 14px;
}
.active-pic-bar img {
  width: 100%;
}
.active-bar {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 174px;
  padding-left: 0;
}
.active-goods-tip {
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  text-align: center;
}
.active-attr-show {
  padding-top: 0;
  padding-right: 7%;
  padding-bottom: 0;
  padding-left: 7%;
  max-height: 20px;
  overflow: hidden;
  font-size: 12px;
  color: #039ef0;
  display: flex;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
}
.active-attr-show li {
  -webkit-flex: 1;
  flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  text-align: center;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 16px;
}
.active-attr-show li:nth-child(1) {
  min-width: 78px;
}
.active-attr-show li:nth-child(2) {
  min-width: 94px;
}
.active-attr-show li:nth-child(3) {
  min-width: 100px;
}
.active-attr-show li span {
  position: relative;
  left: 0;
  top: 0;
}
.active-attr-show li span:before {
  width: 15px;
  height: 13px;
  content: '';
  position: absolute;
  left: -16px;
  top: -1px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat 0 -210px;
  background-size: 312px 280px;
}
.active-goods-desc {
  font-size: 14px;
  line-height: 24px;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 30px;
  padding-left: 24px;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}
.active-detail-btn {
  width: 40%;
  height: 40px;
  line-height: 40px;
  display: block;
  text-align: center;
  font-size: 14px;
  color: #333333;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 36px;
  margin-left: auto;
  border-radius: 2px;
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
.active-goods-block {
  width: 90%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
.active-goods-block tr td {
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  background-color: #68c6f5;
  color: #ffffff;
}
.active-goods-block tr td:last-child {
  width: 70%;
  padding-top: 0;
  padding-right: 6px;
  padding-bottom: 0;
  padding-left: 12px;
  background-color: #e6e6e6;
  color: #333333;
  text-align: left;
}
.active-area {
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 5px;
  padding-left: 16px;
}
.active-detail-tit {
  height: 16px;
  line-height: 16px;
  border-left: 4px solid #e40031;
  margin-top: 4px;
  margin-right: 0;
  margin-bottom: 4px;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 4px;
  color: #333333;
}
.address-tit {
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  margin-top: 2px;
  margin-right: 0;
  margin-bottom: 2px;
  margin-left: 0;
}
.address-tit-son {
  height: 18px;
  line-height: 18px;
  color: #ffffff;
  background-color: #4889db;
  padding-top: 0;
  padding-right: 2px;
  padding-bottom: 0;
  padding-left: 2px;
  border-radius: 2px;
}
.text-red {
  color: #ff0000;
}
.border-color {
  border-color: #4889db;
}
.common-text {
  font-size: 14px;
  line-height: 20px;
}
.time-bar,
.order-pay-bar,
.goods-pay-bar {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f3f3f3;
  border-top: 1px solid #d1d1d1;
  position: fixed;
  left: 0;
  bottom: 0;
}
.time-area,
.order-pay-bar .order-pay-area,
.goods-pay-bar .goods-pay-area {
  height: 100%;
}
.time-area {
  position: relative;
  left: 0;
  top: 0;
}
.scoring-bar {
  margin-left: 12px;
}
.user-flow {
  width: 210px;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
.count-down {
  margin-right: 10px;
}
.operate-btn,
.order-pay-bar .order-pay-btn,
.goods-pay-bar .goods-pay-btn {
  text-align: center;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  font-size: 18px;
  line-height: 18px;
  border-radius: 3px;
  margin-right: 20px;
  margin-top: 12px;
  color: #ffffff;
}
.operate-btn {
  position: absolute;
  right: 0;
  top: 0;
}
.allow-color {
  background-color: #4889db;
}
.forbidden-color {
  background-color: #cccccc;
}
.scoring-num {
  font-family: 'Arial';
  font-size: 22px;
  color: #ff9900;
}
.time-num {
  width: 20px;
  text-align: center;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  border-radius: 5px;
  margin-top: 0;
  margin-right: 2px;
  margin-bottom: 0;
  margin-left: 2px;
  background-color: #cccccc;
  color: #ffffff;
}
.flip-box,
.login-flip-box,
.del-tip-box {
  width: 80%;
  height: 150px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 4px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -40%;
  margin-top: -75px;
  z-index: 6;
  display: none;
}
.del-tip-box {
  display: block;
}
.login-flip-h {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-align: center;
  height: 36px;
  line-height: 36px;
  font-size: 18px;
  color: #ffffff;
  background-color: #4889db;
}
.login-flip-text {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
.login-flip-text-no {
  text-align: center;
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 25px;
  padding-left: 15px;
}
.login-btn-box {
  text-align: center;
}
.login-no,
.login-yes {
  min-width: 100px;
  padding-top: 5px;
  padding-right: 18px;
  padding-bottom: 5px;
  padding-left: 18px;
  color: #ffffff;
  margin-top: 0;
  margin-right: 8px;
  margin-bottom: 0;
  margin-left: 8px;
  border-radius: 2px;
}
.flip-info,
.del-info {
  margin-top: 30px;
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
}
.del-info {
  margin-bottom: 30px;
}
.flip-info-bar {
  height: 48px;
  margin-bottom: 16px;
}
.exchange-button {
  min-width: 88px;
  display: inline-block;
  border-radius: 3px;
  padding-top: 4px;
  padding-right: 12px;
  padding-bottom: 4px;
  padding-left: 12px;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 10px;
  color: #ffffff;
}
.del-common-button {
  display: inline-block;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 10px;
  color: #ffffff;
  padding-top: 4px;
  padding-right: 28px;
  padding-bottom: 4px;
  padding-left: 28px;
}
.flip-tip {
  font-size: 12px;
  padding-top: 0;
  padding-right: 16px;
  padding-bottom: 0;
  padding-left: 16px;
}
.flip-go-check {
  margin-top: 15px;
}
.integral-list-num {
  height: 24px;
  padding-top: 30px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  color: #4889db;
}
.group-introduce {
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 5px;
  padding-left: 0;
}
.group-introduce-bar {
  margin-top: 20px;
}
.enter-or-download {
  display: inline-block;
  height: 100%;
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
  border-radius: 3px;
  background-color: #4889db;
  color: #ffffff;
  margin-top: 0;
  margin-right: 3px;
  margin-bottom: 0;
  margin-left: 3px;
}
.click-me {
  dispaly: inline-block;
  background-color: #4889db;
  color: #ffffff;
  border-radius: 2px;
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 5px;
}
.order-box {
  background-color: #f3f3f3;
}
.pay-order-box {
  margin-bottom: 10px;
}
.order-goods-box {
  font-size: 14px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 292px;
  padding-left: 0;
}
.order-goods-bar {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: #ffffff;
}
.order-goods-bar a {
  color: #666666;
}
.pay-common-text {
  font-family: 'Arial';
  color: #666666;
}
.pay-serial a {
  color: #666666;
}
.pay-cost {
  color: #333333;
}
.chit-pic {
  width: 64px;
  height: 64px;
  border-radius: 4px;
}
.order-goods-text {
  margin-left: 10px;
}
.actually-pay {
  text-align: right;
  font-family: 'Arial';
}
.exchange-code-bar {
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 12px;
  padding-left: 10px;
  background-color: #ffffff;
  margin-bottom: 10px;
  position: relative;
  left: 0;
  top: 0;
}
.order-text-bar {
  width: 75%;
}
.order-box .enter-btn {
  width: 9px;
  height: 18px;
  margin-top: 22px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/arrow-icon.png) no-repeat;
  background-size: cover;
}
.exchange-code {
  text-align: center;
  font-size: 18px;
  padding-top: 8px;
  padding-right: 10px;
  padding-bottom: 8px;
  padding-left: 10px;
  color: #ffffff;
}
.exchange-code-word {
  min-width: 100px;
  display: inline-block;
  background-color: #feb220;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 3px;
}
.copy-code {
  font-size: 10px;
  color: #cccccc;
  text-align: center;
}
.use-method {
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
}
.use-method-tit {
  height: 16px;
  margin-top: 15px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  font-size: 16px;
  color: #333333;
  line-height: 16px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 5px;
  border-left: 4px solid #4889db;
}
.use-method-text {
  font-size: 14px;
}
.pay-status-box {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.pay-status {
  font-size: 16px;
  line-height: 26px;
  color: #333333;
}
.yes-icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 10px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/h2-pay-sprite.png) no-repeat 0 -115px;
  background-size: 350px 350px;
}
.pay-status-tip {
  width: 73px;
  height: 73px;
  margin-top: 10px;
  margin-right: 20px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/h2-pay-sprite.png) no-repeat;
  background-size: 350px 350px;
}
.order-pay-btn {
  background-color: #4889db;
}
.pay-status-succ .pay-status-text {
  color: #4889db;
}
.pay-status-succ .pay-status-show {
  background-position: 0 -32px;
}
.pay-status-unfinished .pay-status-text {
  color: #f31818;
}
.pay-status-unfinished .pay-status-show {
  background-position: -81px -32px;
}
.pay-status-fail .pay-status-text {
  color: #333333;
}
.pay-status-fail .pay-status-show {
  background-position: 163px -32px;
}
.pay-status-cancel .pay-status-text {
  color: #333333;
}
.pay-status-cancel .pay-status-show {
  background-position: -245px -32px;
}
.exchange-record-box {
  font-size: 0.3733rem;
}
.nav-block {
  background-color: #FFF;
  width: 10rem;
  height: 1.088rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.nav-place {
  background-color: #f0f0f0;
  width: 10rem;
  height: 1.388rem;
}
.nav-block ul {
  display: flex !important;
  flex-wrap: wrap;
  border-bottom: 1px solid #f0f0f0;
  font-size: 0.386rem;
}
.nav-block li {
  height: 1.088rem;
  line-height: 1.088rem;
  text-align: center;
  flex: 1;
  flex-basis: 0;
  display: block;
  position: relative;
  color: #333333;
}
.nav-block li.on {
  color: #039ef0;
  border-bottom: 2px solid #039ef0;
}
.nav-block li i {
  background: #f0f0f0;
  width: 1px;
  height: 0.64rem;
  position: absolute;
  top: 0.215rem;
  right: 0;
}
.js-container {
  display: none;
}
.js-container.on {
  display: block;
}
.record-area {
  height: 2.5333rem;
  position: relative;
  left: 0;
  top: 0;
  padding-left: 0.3333rem;
  padding-right: 0.3333rem;
  border-bottom: 1px solid #f0f0f0;
}
.record-area a {
  width: 100%;
  height: 100%;
  display: block;
}
.record-pic-bar {
  position: absolute;
  left: 0.3333rem;
  top: 0.3333rem;
}
.record-pic {
  width: 1.8667rem;
  height: 1.8667rem;
}
.record-text-bar {
  padding-left: 2.2rem;
  padding-top: 0.56rem;
}
.record-text-tit {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em;
  line-height: 0.3734rem;
  color: #333333;
}
.order-bar p {
  font-size: 0.8571em;
  height: 0.32rem;
  line-height: 0.32rem;
}
.order-bar p:nth-child(1) {
  color: #ff5a44;
  margin-top: 0.2133rem;
  margin-bottom: 0.32rem;
}
.order-bar p:nth-child(1) span {
  color: #9b9b9b;
  padding-left: 0.1333rem;
}
.order-bar p:nth-child(2) {
  color: #9b9b9b;
}
.enter-btn {
  width: 9px;
  height: 18px;
  margin-top: 28px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/arrow-icon.png) no-repeat;
  background-size: cover;
}
.exchange-empty-box {
  max-width: 750px;
  display: none;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}
.exchange-empty-pic {
  width: 104px;
  height: 104px;
  margin-top: 64px;
  margin-right: auto;
  margin-bottom: 18px;
  margin-left: auto;
}
.exchange-empty-text {
  font-size: 16px;
  text-align: center;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 15px;
  padding-left: 0;
}
.order-status {
  position: absolute;
  right: 0.56rem;
  bottom: 0.3333rem;
  text-align: right;
}
.order-status-succ {
  color: #039ef0;
}
.order-status-waitsure,
.order-status-waitpay {
  color: #ff9600;
}
.order-status-fail {
  color: #ff5a44;
}
.insert-bar {
  width: 90%;
  margin-top: 24px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}
.combination-insert-bar {
  border-radius: 4px;
  margin-top: 15px;
}
.combination-insert-area {
  height: 147px;
  position: relative;
  left: 0;
  top: 0;
  background-color: #ffffff;
  border-radius: 4px;
  margin-top: 12px;
}
.combination-insert-area:last-child {
  border-radius: 4px 4px 0 0;
}
.combination-insert-area .insert-bar-son + .border {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.insert-delete-bar {
  width: 45px;
  height: 147px;
  background-color: #ffffff;
  position: absolute;
  right: 0;
  top: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pay-box {
  background-color: #f3f3f3;
}
.pay-pic-bar img {
  width: 100%;
}
.combination-insert-bar .insert-bar-son {
  height: 49px;
}
.insert-bar-son {
  height: 72px;
}
.authcode-insert-bar {
  height: 68px;
}
.insert-bar-son .common-text {
  height: 26px;
  line-height: 26px;
  font-size: 12px;
}
.common-insert-area,
.authcode-insert-area {
  padding-top: 8px;
  padding-right: 0;
  padding-bottom: 8px;
  padding-left: 0;
  background-color: #ffffff;
  border-radius: 4px;
}
.combination-insert-bar .common-insert-area,
.combination-insert-bar .authcode-insert-area {
  border-radius: 0px;
  background-color: transparent;
}
.authcode-insert-area {
  padding-top: 6px;
  padding-right: 0;
  padding-bottom: 6px;
  padding-left: 0;
}
.authcode-insert-area {
  width: 56%;
}
.authcode-get-area {
  width: 40%;
  border-radius: 4px;
}
.authcode-get {
  width: 100%;
  text-align: center;
  height: 42px;
  line-height: 42px;
  border-radius: 4px;
}
.insert-icon {
  width: 19px;
  height: 30px;
  vertical-align: middle;
  display: inline-block;
  margin-top: 0;
  margin-right: 13px;
  margin-bottom: 0;
  margin-left: 13px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat;
  background-position: -90px -168px;
  background-size: 312px 280px;
}
.phone-icon {
  background-position: 3px -172px;
}
.psw-icon {
  background-position: -21px -171px;
}
.re-psw-icon {
  background-position: -44px -171px;
}
.realname-icon {
  background-position: -144px -170px;
}
.idcard-icon {
  background-position: -117px -169px;
}
.email-icon {
  background-position: -68px -168px;
}
.dele-icon {
  width: 15px;
  height: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -8px;
  margin-top: -7px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat;
  background-size: 312px 280px;
  background-position: -167px -173px;
}
.common-insert {
  width: 70%;
  padding-top: 7px;
  padding-right: 0;
  padding-bottom: 7px;
  padding-left: 10px;
  line-height: 16px;
  border-left: 1px solid #cccccc;
  border-radius: 0;
}
.authcode-insert {
  width: 100%;
  line-height: 16px;
  padding-top: 7px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 25px;
}
.insert-tit {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 55px;
}
.insert-bar-son .authcode-tit {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 25px;
}
.disable-color {
  background-color: #cccccc;
}
.able-color,
.authcode-get.active {
  background-color: #feb220;
}
.authcode-get {
  background-color: #cccccc;
  color: #999999;
}
.authcode-get.active {
  color: #ffffff;
}
.to-receive-bar {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 40px;
  padding-left: 0;
}
.to-add-bar {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0;
}
.to-receive,
.to-add {
  width: 100%;
  text-align: center;
  height: 42px;
  line-height: 42px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #4d8bd8;
}
.to-add {
  border-radius: 0 0 4px 4px;
  background-color: #cccccc;
  color: #999999;
}
.to-add-icon {
  font-size: 20px;
  color: #3d89e9;
}
.pay-order-detail-box {
  min-height: 100%;
  background-color: #f3f3f3;
  font-size: 14px;
}
.pay-order-detail-box .pay-status-bar {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 174px;
  padding-left: 0;
}
.pay-order-detail-box .pay-after-bar {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 114px;
  padding-left: 0;
}
.pay-order-detail-box .pay-after-bar .order-pay-bar {
  display: none;
}
.pay-order-detail-box .pay-after-bar .goods-copyright-fix {
  margin-bottom: 0;
}
.pay-order-detail-box .goods-detail {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  position: relative;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.pay-order-detail-box .goods-show-pic {
  width: 70px;
  height: 70px;
  border-radius: 4px;
  margin-right: 10px;
}
.pay-order-detail-box .trade-status {
  width: 77px;
  height: 22px;
  line-height: 22px;
  text-align: right;
  padding-top: 0;
  padding-right: 7px;
  padding-bottom: 0;
  padding-left: 0;
  font-size: 12px;
  color: #ffffff;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/pay-status-sprite.png) no-repeat;
  background-size: 350px 350px;
  position: absolute;
  right: 0;
  bottom: 10px;
}
.pay-order-detail-box .trade-status-succ {
  background-position: -94px 0;
}
.pay-order-detail-box .trade-status-fail {
  background-position: -188px 0;
}
.pay-order-detail-box .trade-status-waiting {
  background-position: 0 0;
}
.pay-order-detail-box .trade-status-confirm {
  background-position: 0 -32px;
}
.pay-order-detail-box .goods-detail p {
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pay-order-detail-box .goods-name {
  font-size: 16px;
  color: #111111;
}
.pay-order-detail-box .goods-price {
  font-family: 'Arial';
  font-size: 20px;
  line-height: 20px;
  margin-top: 8px;
  color: #ff9900;
}
.pay-order-detail-box .order-detail-info {
  height: 36px;
  line-height: 36px;
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
  color: #999999;
  border-top: 1px solid #f3f3f3;
  background-color: #ffffff;
  color: #333333;
}
.pay-order-detail-box .order-detail-info:last-child {
  border-bottom: 1px solid #f3f3f3;
}
.pay-order-detail-box .order-detail-num {
  color: #333333;
}
.pay-order-detail-box .order-exchange-bar {
  padding-top: 20px;
  padding-right: 5%;
  padding-bottom: 20px;
  padding-left: 5%;
}
.pay-order-detail-box .order-exchange-code {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  position: relative;
  left: 0;
  top: 0;
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  background-color: #ffffff;
  color: #999999;
}
.pay-order-detail-box .order-exchange-area {
  width: 70%;
}
.pay-order-detail-box .order-exchange-text {
  font-size: 12px;
  line-height: 20px;
}
.pay-order-detail-box .order-address-area {
  margin-bottom: 5px;
}
.pay-order-detail-box .order-address-area .order-exchange-text:last-child {
  width: 75%;
}
.pay-order-detail-box .logistics-info {
  margin-right: 8px;
  color: #2d6dbe;
}
.pay-order-detail-box .order-address-area + .order-exchange-text {
  position: relative;
  left: 0;
  top: 0;
}
.pay-order-detail-box .order-address-enter {
  width: 8px;
  height: 14px;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -7px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -170px -120px;
  background-size: 312px 280px;
}
.pay-order-detail-box .effective-area {
  height: 36px;
  font-size: 12px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 15px;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -18px;
  border-left: 1px solid #cccccc;
}
.pay-order-detail-box .arc-border {
  width: 6px;
  height: 12px;
  position: absolute;
  top: 50%;
  margin-top: -6px;
}
.pay-order-detail-box .arc-border-left {
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/order-bg-leftcircle.png) no-repeat;
  background-size: 6px 12px;
  left: -1px;
}
.pay-order-detail-box .arc-border-right {
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/order-bg-rightcircle.png) no-repeat;
  background-size: 6px 12px;
  right: -1px;
}
.pay-order-detail-box .pic-border {
  width: 100%;
  height: 3px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/order-bg-address-boder.png) repeat-x;
  position: absolute;
  left: 0;
}
.pay-order-detail-box .pic-border-top {
  top: -1px;
}
.pay-order-detail-box .pic-border-bottom {
  bottom: -1px;
}
.pay-order-detail-box .number-color {
  color: #ff9900;
}
.pay-order-detail-box .common-text {
  font-size: 12px;
  line-height: 20px;
}
.pay-order-detail-box .use-method {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  background-color: #ffffff;
}
.order-address-bar .order-exchange-area {
  width: 100%;
}
.pay-order-detail-box .user-info {
  color: #111111;
}
.pay-order-detail-box .user-info:nth-child(1) {
  margin-right: 20px;
}
.pay-order-detail-box .big-font {
  font-size: 16px;
}
.pay-order-detail-box .bigger-font {
  font-size: 18px;
}
.pay-order-detail-box .order-insurance-area {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
  left: 0;
  top: 0;
}
.pay-order-detail-box .order-insurance-area:last-child {
  border: none;
  margin-bottom: 0;
}
.pay-order-detail-box .order-insurance-fail {
  color: #ff0000;
}
.pay-order-detail-box .order-insurance-succ + b,
.pay-order-detail-box .order-insurance-fail + b,
.pay-order-detail-box .order-insurance-reviewing + b {
  height: 20px;
  line-height: 20px;
  color: #ffffff;
  font-size: 12px;
  border-radius: 20px;
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
  position: absolute;
  right: 0;
  bottom: 12px;
}
.pay-order-detail-box .order-insurance-succ + b {
  background-color: #4889db;
}
.pay-order-detail-box .order-insurance-fail + b {
  background-color: #cccccc;
}
.pay-order-detail-box .order-insurance-reviewing + b {
  background-color: #67cc04;
}
.address-page-box {
  color: #666666;
  background-color: #f3f3f3;
}
.address-username-bar,
.address-usertel-bar,
.address-option-bar {
  height: 42px;
  line-height: 42px;
  background-color: #ffffff;
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
  position: relative;
  left: 0;
  top: 0;
}
.address-username-bar,
.address-option-bar,
.address-option-area,
.address-detail-bar,
.address-usertel-bar {
  border-bottom: 1px solid #cccccc;
}
.address-option-area:last-child {
  border: none;
}
.border-l {
  border-left: 1px solid #cccccc;
}
.address-option-se {
  width: 100%;
  height: 100%;
  color: #666666;
  background-color: #ffffff;
}
@media only screen and (max-width: 374px) {
  .address-option-area {
    width: 100%;
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0;
    padding-left: 10px;
    position: relative;
    left: 0;
    top: 0;
  }
  .address-option-bar .border-l {
    border-width: 0;
  }
  .address-option-bar {
    height: 126px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    color: #666666;
    background-color: #ffffff;
  }
  .address-option-area:after {
    content: '';
    width: 13px;
    height: 7px;
    background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -145px -120px;
    background-size: 312px 280px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -3px;
  }
  .address-se-la {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
}
@media only screen and (min-width: 375px) {
  .address-option-bar {
    display: flex;
    display: -webkit-flex;
  }
  .address-option-area {
    flex: 1;
    -webkit-flex: 1;
    position: relative;
    left: 0;
    top: 0;
  }
  .address-option-bar .border-b {
    border-width: 0;
  }
  .address-option-area:after {
    content: '';
    width: 13px;
    height: 7px;
    background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -145px -120px;
    background-size: 312px 280px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -3px;
  }
  .address-option-area:nth-child(3):after {
    right: -2px;
  }
  .address-se-la {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 6px;
  }
  .address-option-area:nth-child(1) .address-se-la {
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 6px;
  }
}
.address-option-se[disabled] {
  color: #cccccc;
}
.address-detail-bar {
  line-height: 42px;
  background-color: #ffffff;
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
}
.address-detail-insert {
  width: 66%;
  height: 63px;
  padding-top: 9px;
  padding-right: 8px;
  padding-bottom: 9px;
  padding-left: 8px;
}
.address-username-insert,
.address-usertel-insert {
  width: 70%;
}
.address-foot-box {
  width: 100%;
  height: 40px;
  margin-top: 20px;
}
.address-foot-btn {
  width: 90%;
  text-align: center;
  display: block;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  font-size: 18px;
  color: #ffffff;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}
.address-foot-box .forbidden-color {
  color: #999999;
}
.address-exist-fatherbar {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 40px;
  padding-left: 0;
}
.address-exist-bar {
  font-size: 14px;
  line-height: 34px;
}
.address-exist-area {
  padding-top: 4px;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
  margin-bottom: 10px;
  position: relative;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.confirm-order .address-exist-area {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.address-exist-info {
  font-size: 16px;
  color: #111111;
}
.address-exist-username {
  width: 35%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.address-exist-usertel {
  margin-left: 5px;
}
.address-exist-nameicon {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 10px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -99px -120px;
  background-size: 312px 280px;
}
.address-exist-telicon {
  width: 11px;
  height: 17px;
  display: inline-block;
  margin-right: 10px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -124px -120px;
  background-size: 312px 280px;
  position: relative;
  left: 0;
  top: 2px;
}
.address-exist-text {
  line-height: 24px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 6px;
  padding-left: 0;
}
.address-page-box .pay-order-box {
  margin-top: 10px;
  position: relative;
  left: 0;
  top: 0;
}
.address-page-box .order-goods-text {
  font-size: 14px;
  font-family: 'Arial';
}
.address-page-box .pic-detail {
  height: 40px;
  max-height: 40px;
  overflow: hidden;
  line-height: 20px;
  font-size: 16px;
  color: #111111;
}
.address-page-box .pic-detail-tip {
  margin-top: 4px;
}
.address-page-box .actually-pay {
  font-size: 16px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.address-control-bar {
  width: 100%;
  height: 40px;
  line-height: 40px;
  position: relative;
  left: 0;
  top: 0;
}
.address-set-area {
  height: 100%;
}
.address-radio-group {
  position: relative;
  left: 0;
  top: 0;
  height: 14px;
}
.address-custom-common {
  width: 13px;
  height: 13px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -69px -146px;
  background-size: 312px 280px;
}
.address-radio-group input[type="radio"]:checked + .address-custom-common {
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -46px -146px;
  background-size: 312px 280px;
}
.address-set-inp {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.01;
}
.address-set-default {
  margin-left: 20px;
}
.address-edit-area {
  position: absolute;
  right: 70px;
  top: 0;
}
.address-delete-area {
  position: absolute;
  right: 0;
  top: 0;
}
.address-edit-icon {
  width: 13px;
  height: 13px;
  display: inline-block;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -23px -146px;
  background-size: 312px 280px;
  margin-right: 6px;
}
.address-delete-icon {
  width: 13px;
  height: 13px;
  display: inline-block;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat 0 -146px;
  background-size: 312px 280px;
  margin-right: 6px;
}
.delivery-nav {
  height: 40px;
  line-height: 40px;
}
.delivery-info {
  height: 100%;
  text-align: center;
  color: #ffffff;
}
.delivery-info:nth-child(1) {
  width: 40%;
  background-color: #88cdfe;
}
.delivery-info:nth-child(2) {
  width: 60%;
  background-color: #67baf7;
}
.delivery-status {
  position: relative;
  left: 0;
  top: 0;
}
.delivery-status:nth-child(even) {
  background-color: #f6f6f6;
}
.delivery-status:nth-child(odd) {
  background-color: #eeeeee;
}
.delivery-time-pos {
  padding-top: 18px;
  padding-right: 18px;
  padding-bottom: 18px;
  padding-left: 18px;
  height: 100%;
}
.delivery-time-pos:nth-child(1) {
  width: 40%;
  position: absolute;
  left: 0;
  top: 0;
}
.delivery-time-pos:nth-child(1) div {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -20px;
}
.delivery-time-pos:nth-child(2) {
  width: 60%;
  font-size: 14px;
  line-height: 24px;
}
.delivery-time-pos p {
  text-align: center;
}
.delivery-time-pos p:nth-child(1) {
  font-size: 12px;
}
.delivery-line {
  width: 3px;
  height: 100%;
  background-color: #cccccc;
  position: absolute;
  left: 40%;
  top: 0;
}
.delivery-line-finish {
  width: 3px;
  height: 50%;
  background-color: #cccccc;
  position: absolute;
  left: 40%;
  top: 0;
}
.delivery-status:nth-child(1) .delivery-line {
  height: 50%;
  top: 50%;
}
.delivery-roll {
  width: 10px;
  height: 10px;
  background-color: #67baf7;
  border-radius: 50%;
  position: absolute;
  left: 40%;
  top: 50%;
  margin-left: -5px;
  margin-top: -5px;
}
.delivery-status:nth-child(1) .delivery-roll {
  top: 0;
}
.delivery-line-finish .delivery-roll {
  width: 0;
}
.delivery-bg {
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border-left: 1px solid #f3f3f3;
  border-top: 1px solid #f3f3f3;
  border-right: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: -7px;
  margin-top: -8px;
}
.delivery-status:nth-child(1) .delivery-bg {
  top: 0;
}
.delivery-line-finish .delivery-bg {
  width: 18px;
  height: 18px;
  top: 100%;
  margin-left: -8px;
  margin-top: -9px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -93px -147px;
  background-size: 312px 280px;
}
/* flex - start */
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
/* flex -  end  */
/* rem - start */
.panel-container {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
}
.panel-block-left .goods,
.panel-block-right .goods {
  position: relative;
  box-sizing: border-box;
  line-height: 0;
  background-image: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: #ffffff;
  background-position: initial initial;
  background-repeat: initial initial;
  background-size: contain;
}
.panel-block-left .goods-1:after {
  content: '';
  box-sizing: border-box;
  line-height: 0;
  background-color: #f0f0f0;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.panel-block-right .goods-2:after {
  content: '';
  box-sizing: border-box;
  line-height: 0;
  background-color: #f0f0f0;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.panel-block-left .goods {
  /*background-color: #aaa;*/
  width: 4.094rem;
  height: 4.826rem;
}
.panel-block-left .goods img {
  width: 100%;
}
.panel-block-right .goods {
  /*background-color: #bbb;*/
  width: 5.906rem;
  height: 2.413rem;
}
.panel-block-right .goods img {
  width: 100%;
}
/* rem -  end  */
/* backbone - start */
.bb-panel {
  display: none;
}
.bb-panel.active {
  display: block;
}
/* backbone -  end  */
/* widget - start */
.js-ui-hide {
  display: none;
}
.js-ui-hide.show {
  display: block;
}
.block {
  display: block;
  overflow: hidden;
}
.banner {
  position: relative;
  text-align: center;
  width: 100%;
  overflow: hidden;
}
.banner img {
  width: 100%;
  max-width: 100%;
  vertical-align: top;
}
.banner-box {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.banner-pics {
  overflow: hidden;
  position: relative;
}
.banner-pics .banner-item {
  float: left;
  width: 100%;
  position: relative;
}
.banner-indexs {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 8px;
  font-size: 0;
  overflow: hidden;
}
.banner-indexs i {
  display: inline-block;
  width: 4px;
  height: 4px;
  opacity: 0.2;
  background-color: #000000;
  background-clip: padding-box;
  border-radius: 2px;
  margin: 0 4px;
}
.banner-indexs i.active {
  background-color: #FFFFFF;
  opacity: 0.7;
}
/* widget - end */
/* points - start */
@keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
.animaion-blink {
  animation: blinker .3s linear .2s 3;
}
/* points -  end  */
/* img - echo - start */
img,
.echo-block {
  transition: opacity 0.3s ease-in;
}
.op0 {
  opacity: 0;
}
.op1 {
  opacity: 1;
}
/* img - echo -  end  */
