@charset 'utf-8';
.defaultNone {
  outline: none;
  border: none 0;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container {
  max-width: 750px;
  min-height: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  position: relative;
  left: 0;
  top: 0;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Microsoft Yahei';
  font-size: 16px;
  background-color: #fff;
  color: #666;
}
input,
button {
  outline: none;
  border: none 0;
}
button {
  background-color: none;
}
select {
  outline: none;
  border: none 0;
  -webkit-appearance: none;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
textarea {
  outline: none;
  border: none 0;
  resize: none;
}
option {
  text-align: center;
}
.error-tip {
  display: none;
}
.error-tip.active {
  display: block;
}
p {
  word-break: break-all;
}
.bold-tit {
  font-weight: bold;
}
.color-a {
  color: #0000ff;
}
.orange-color {
  color: #f90;
}
.num-font {
  font-family: 'Arial';
}
.num-color {
  font-family: 'Arial';
  font-size: 16px;
  color: #f90;
}
.border {
  position: relative;
  left: 0;
  top: 0;
}
.loading-box {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}
.loading-icon {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -18px;
  margin-top: -18px;
}
.info-box,
.active-box,
.order-box,
.integral-box,
.integral-list-box,
.pay-box,
.pay-order-detail-box,
.address-page-box,
.delivery-box,
.interlayer {
  max-width: 750px;
  min-height: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  position: relative;
  left: 0;
  top: 0;
}
.goods-copyright-fix {
  margin-bottom: 60px;
}
.copyright-block {
  width: 100%;
  height: 114px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.copyright-bar {
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  text-align: center;
  color: #9b9b9b;
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 42px;
  padding-left: 10px;
}
.copyright-bar-text:nth-child(1) a {
  color: #9b9b9b;
  display: block;
  width: 100%;
}
.copyright-bar-text:nth-child(1),
.copyright-bar-text:nth-child(2) {
  font-size: 12px;
  line-height: 20px;
}
.copyright-bar-text:nth-child(3) {
  font-size: 10px;
  line-height: 20px;
}
@media screen and (min-width: 414px) {
  .copyright-bar-text:nth-child(1),
  .copyright-bar-text:nth-child(2) {
    font-size: 14px;
  }
}
.group-name {
  font-family: 'Arial';
}
.common-shadow {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  display: none;
}
.lucky-box {
  max-width: 750px;
  min-height: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  margin: 0 auto;
  background-color: #0b0011;
  position: relative;
  left: 0;
  top: 0;
  font-family: "Microsoft YaHei";
}
img {
  width: 100%;
}
.lucky-desc-bar,
.lucky-status-bar,
.lucky-btn-bar,
.lucky-nav-bar {
  position: relative;
  left: 0;
  top: 0;
}
.lucky-status-bar {
  height: 200px;
  background-color: #fedb4d;
}
.lucky-nav-bar {
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #f4f3b3;
  position: fixed;
  left: 0;
  top: 0;
}
.lucky-shadow-bar {
  width: 100%;
  height: 40px;
  background-color: #000;
  opacity: 0.5;
}
.lucky-integral-area {
  height: 14px;
  line-height: 14px;
  font-size: 14px;
  position: absolute;
  left: 15px;
  top: 13px;
}
.lucky-nav-bar a.lucky-rule-area {
  height: 26px;
  line-height: 26px;
  font-size: 14px;
  position: absolute;
  top: 7px;
  right: 15px;
  padding-top: 0;
  padding-right: 12px;
  padding-bottom: 0;
  padding-left: 12px;
  border-radius: 26px;
  border-left: 1px solid #f4f3b3;
  border-top: 1px solid #f4f3b3;
  border-bottom: 1px solid #f4f3b3;
  border-right: 1px solid #f4f3b3;
  color: #f4f3b3;
}
.lucky-status-area {
  width: 300px;
  height: 152px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/active/newyear/newyear-bg.png) no-repeat;
  background-size: 300px 152px;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -150px;
}
.lucky-status-area-son {
  width: 286px;
  position: absolute;
  left: 7px;
  top: 15px;
}
.lucky-status-area-son img {
  width: 100%;
  height: 122px;
}
.box-shadow {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  display: none;
}
.tip-box {
  width: 288px;
  height: 274px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/active/newyear/lucky-window.bg.png) no-repeat;
  background-size: 288px 274px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -144px;
  margin-top: -137px;
}
.prize-desc {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  word-break: break-word;
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;
  height: 40px;
  line-height: 20px;
  overflow: hidden;
  text-align: center;
  color: #333;
}
.go-back,
.go-award {
  width: 124px;
  height: 41px;
  line-height: 38px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.go-back {
  position: absolute;
  bottom: 16px;
  right: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/active/newyear/lucky-newyear-try.png?a=b) no-repeat;
  background-size: 124px 41px;
}
.go-award {
  position: absolute;
  bottom: 16px;
  left: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/active/newyear/lucky-newyear-try.png?a=b) no-repeat;
  background-size: 124px 41px;
}
.close-btn {
  width: 32px;
  height: 32px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/active/newyear/lucky-newyear-close.png) no-repeat;
  background-size: 32px 32px;
  position: absolute;
  right: -7px;
  top: -7px;
}
.gift-box {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 63px;
}
.gift-box .gift-text {
  color: #e92e49;
}
.tip-gift-pic {
  width: 140px;
  position: absolute;
  left: 50%;
  top: 22px;
  margin-left: -70px;
}
